
li {
    text-align: -webkit-match-parent;
  }
  
  .hdline0{
      list-style: none;
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      vertical-align: baseline;
  }
  
  .dot{
    position: absolute;
    top: 16px;
    left: 0;
    display: block;
    width: 5px;
    height: 5px;
    background: #da4453;
    font-size: 0;
    top: 25px;
    padding-left: 10px;
    line-height: 24px;
    position: relative;
    overflow: hidden;
    font-style: italic;
  }
  
  .hotnews{
    padding-bottom: 2px; 
  }
  
  .hotnews li {
    padding-left: 10px;
    line-height: 24px;
    position: relative;
    overflow: hidden;
  }

  .imgtit{
  z-index: 87;
  width: 100%;
  height: 66px;
  padding-left: 10px;
  text-align: left;
  background: 0 0;
  color: white;
  font-size: medium;
  position: absolute;
  bottom: -20px;
}



.ant-carousel .slick-prev,
.ant-carousel .slick-prev:hover {
  left: 10px;
  z-index: 2;
  color: white;
  font-size: 20px;
  height: 30px;
}

.ant-carousel .slick-next,
.ant-carousel .slick-next:hover {
  right: 10px;
  z-index: 2;
  color: white;
  font-size: 20px;
  height: 30px;
}