body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root,body,html {
  height: 100%
}

.leftMenu{
  height: 100%;
  width:200px;
}
.topMenu{
  position: fixed;
  left: 200px;
  right: 0px;
  height: 48px;
  line-height: 48px;
  z-index: 21;
  background-color: #ffffff;
  padding-left: 24px;
  border-bottom: 1px solid #eee;
}